#logo-abs {
	position: absolute!important;
	width: 90px;
	left: 40px;
	top: 40px;
	z-index: 1000000;
}

.maindiv {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #FF0090, #009BA1);
	/*opacity: .4;*/
}

.androiddiv {
	margin-top: 20vh;
}

.iosdiv {
	margin-top: 20vh;
}

#androidimage {
	height: 50vh;
	display: block;
}

#iosimage {
	display: block;
}

#playstoreimage {

}

#appstoreimage {
	
}
